<div class="container">
  <app-cockpit 
  (serverCreated)="onServerAdded($event)"
  (blueprintCreated)="onBlueprintAdded($event)"
  
  ></app-cockpit>
  <hr>

  <div class="row">
    <div class="col-xs-12">
      <button class="btn btn-primary" (click)="onChangeFirst()">Change First Element</button>
      <button class="btn btn-danger" (click)="onDestroyFirst()">Destroy First Element</button>
      <app-server-element *ngFor="
      let serverEl of serverElements"
      [srvEl]="serverEl"
      [name]="serverEl.name">
        <p>
          <strong *ngIf="serverEl.type === 'server'" style="color: red">{{ serverEl.content }}</strong>
          <em *ngIf="serverEl.type === 'blueprint'">{{ serverEl.content }}</em>
        </p>
      </app-server-element>
    </div>
  </div>
</div>
