.container-md {
  background-color: rgb(72, 250, 87);
  border-radius: 8px;
  display: flex;
  justify-content: center;
  padding: 10px 0;
  margin-top: 25px;
}

.card {
  text-align: center;
  border-radius: 5px;
  border: 2px solid rgb(13, 77, 0);
  padding: 0 55px;
}